<nav class="navbar container-fluid mb-3 p-0">
  <a class="navbar-brand" id="navbar-brand" routerLink="/">
    <img
      class="w-100 layer"
      data-speed="-2"
      src="../../../../assets/images/logo.png"
      alt=""
    />
  </a>

  <div class="brand">
    <h2>Pet Your Pet</h2>
  </div>

  <!--  -->
  <div class="navbar-collapse">
    <button class="navbar-icon layer" type="button" role="a">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" routerLink="/">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLink="about">
        <a class="nav-link">About Us</a>
      </li>
      <li class="nav-item" routerLink="services">
        <a class="nav-link">Services</a>
      </li>
      <li class="nav-item" routerLink="contact">
        <a class="nav-link">Contact Us</a>
      </li>
      <ul class="navbar-nav register">
        <li class="nav-item" routerLink="login">
          <a class="nav-link">login</a>
        </li>
        <li class="nav-item" routerLink="signup">
          <a class="nav-link">Sign Up</a>
        </li>
      </ul>
    </ul>

    <div class="follow-us">
      <nav class="p-3">
        <ul class="navbar-footer me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
