<div class="services">
  <div class="conatiner">
    <div class="services-area">
      <header class="services-header">
        <h1 class="services-title">Services</h1>
      </header>

      <a href="#" routerLink="medical">
        <div class="row py-5 services-area-small">
          <div class="col-12 col-md-6">
            <div class="services-image">
              <img
                class="w-100"
                src="https://images.unsplash.com/photo-1543206890-69843998edd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                alt=""
              />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="services-text">
              <h3 class="services-text-head">Pets medical care</h3>
              <p class="services-text-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem corrupti quos provident nobis dolores! Error commodi
                enim laborum, asperiores blanditiis nobis eos voluptate
                laboriosam dignissimos. Fugiat modi culpa expedita dignissimos.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a href="#" routerLink="hostel">
        <div class="row py-5 services-area-small">
          <div class="col-12 col-md-6">
            <div class="services-text">
              <h3 class="services-text-head">A hostel for pets</h3>
              <p class="services-text-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem corrupti quos provident nobis dolores! Error commodi
                enim laborum, asperiores blanditiis nobis eos voluptate
                laboriosam dignissimos. Fugiat modi culpa expedita dignissimos.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="services-image">
              <img
                class="w-100"
                src="https://images.unsplash.com/photo-1543206890-69843998edd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                alt=""
              />
            </div>
          </div>
        </div>
      </a>

      <a href="#" routerLink="Sell">
        <div class="row py-5 services-area-small">
          <div class="col-12 col-md-6">
            <div class="services-image">
              <img
                class="w-100"
                src="https://images.unsplash.com/photo-1543206890-69843998edd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                alt=""
              />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="services-text">
              <h3 class="services-text-head">Sell medicines and food</h3>
              <p class="services-text-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem corrupti quos provident nobis dolores! Error commodi
                enim laborum, asperiores blanditiis nobis eos voluptate
                laboriosam dignissimos. Fugiat modi culpa expedita dignissimos.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
