<!-- Our Location-->
<div class="container">
  <div class="our-location">
    <div class="row">
      <div class="col-12">
        <div class="our-location-info">
          <h3 class="our-location-head">Our Location</h3>
          <p class="our-location-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="location">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d884487.9615823679!2d31.86743325536346!3d30.007263373700347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458399326c1b8e1%3A0x5d375056b335b1ea!2z2KfZhNmC2KfZh9ix2Kkg2KfZhNmD2KjYsdmJ!5e0!3m2!1sar!2seg!4v1656707808543!5m2!1sar!2seg"
            width="100%"
            height="400"
            allowfullscreen="true"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
