<div class="footer navbar-expand-sm">
  <div class="container">
    <div class="navbar-footer">
      <a class="navbar-brand-footer" routerLink="/">
        <img
          src="../../../../assets/images/logo.png"
          class="w-100"
          alt="Pet Your Pet"
        />
      </a>
      <nav class="navbar-collapse-footer p-3">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="about">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="services">Services</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="privacy">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" routerLink="contact">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="follow-us">
        <nav class="navbar-footer p-3">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
