@import "../../../styles/colors";

.about-us {
  padding: 12rem 6rem 6rem;
  .about-area {
    .about-area-small {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 4px,
        rgb(209, 213, 219) 0px 0px 0px 4px inset;
      margin: 6rem 0;
      border-radius: 50px;
      background-color: #f2f2f2;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .about-header {
      .about-title {
        font-family: "Baloo Chettan 2", cursive;
        font-weight: bold;
        text-align: center;
        font-size: 3.5rem;
        color: $colorSecondary;
      }
    }

    .about-text {
      &-text {
        font-family: "Montserrat", sans-serif;
        color: $colorPrimary;
        font-size: 1.125rem;
        line-height: 1.67;
        letter-spacing: 0.5px;
      }
    }
  }
}
