<div class="about-us">
  <div class="conatiner">
    <div class="about-area">
      <header class="about-header">
        <h1 class="about-title">About Us</h1>
      </header>
      <div class="row about-area-small">
        <div class="col-12 col-md-6">
          <div class="about-image">
            <img
              class="w-100"
              src="https://images.unsplash.com/photo-1543206890-69843998edd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="about-text">
            <h3 class="about-text-head">Boarding Options</h3>
            <p class="about-text-text">
              Integer ut feugiat nisl. Vestibulum molestie viverra malesuada.
            </p>
            <ul>
              <li>shared suites</li>
              <li>shared suites</li>
              <li>shared suites</li>
              <li>shared suites</li>
              <li>shared suites</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="about-info">
            <h3 class="about-info-head">Pets Love Us</h3>
            <p class="about-info-text">
              Our friendly and helpful staff are available round the clock to
              make sure your pets are happy during their stay at Petotel.
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="about-info-image">
                <img
                  class="w-100"
                  src="https://images.unsplash.com/photo-1643886856308-6d9c9c5b715c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=629&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="about-info-image">
                <img
                  class="w-100"
                  src="https://images.unsplash.com/photo-1526520112421-5054395689a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="about-info-image">
                <img
                  class="w-100"
                  src="https://images.unsplash.com/photo-1625150593589-83b149103736?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="about-info-image">
                <img
                  class="w-100"
                  src="https://images.unsplash.com/photo-1608567468360-c6c9c594b930?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=551&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="about-info-image">
                <img
                  class="w-100"
                  src="https://images.unsplash.com/photo-1522039553440-46d3e1e61e4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=578&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="about-info-image">
                <img
                  class="w-100"
                  src="https://scontent.cdninstagram.com/v/t51.2885-15/60809998_1251525785006159_680752082192940632_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=ZJ2DcHTGADsAX8HmnBm&_nc_ht=scontent.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT-MD0k_LT8Yw5o3zuRp2oflMZiJ79JYJUhr9EFlA0xFNQ&oe=62C47703"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
