<div class="site-content">
  <div class="container">
    <div class="content-area">
      <main class="site-main">
        <article class="site-article">
          <header class="entry-header">
            <h1 class="entry-title">Terms and Conditions</h1>
          </header>
          <div class="entry-content">
            <h3 class="entry-content-head">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </h3>
            <p class="entry-content-text">
              Integer ut feugiat nisl. Vestibulum molestie viverra malesuada.
              Curabitur sit amet mauris venenatis, vulputate libero eu,
              dignissim est. Quisque ut convallis sem, in efficitur justo. Etiam
              semper erat est, et fermentum urna condimentum et. Aliquam
              faucibus lectus vitae auctor blandit. Vestibulum tempus semper
              turpis, vitae porttitor neque volutpat at. Phasellus in imperdiet
              magna. Fusce ultrices posuere eli.
            </p>
            <h3 class="entry-content-head">
              Orci varius natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus.
            </h3>
            <p class="entry-content-text">
              Nulla efficitur vel ipsum sit amet eleifend. Proin velit elit,
              scelerisque sit amet lectus eget, bibendum iaculis ipsum. Sed
              tempor, metus sed blandit consequat, tellus felis finibus arcu,
              vel feugiat arcu nibh at ipsum. Maecenas consectetur faucibus leo,
              eget dapibus sapien posuere a. Ut pretium lacinia elit, quis
              auctor dui aliquet quis. Nulla rhoncus vestibulum diam in
              venenatis. Cras fermentum enim eu ante dignissim semper.
              Vestibulum sed pulvinar lacus, at tristique quam. Phasellus
              condimentum nunc metus, a interdum velit gravida eget. Nulla nec
              justo ultrices, laoreet tortor et, lobortis dui. Praesent semper,
              ipsum ac venenatis blandit, turpis ipsum vehicula metus, id
              convallis lectus quam pellentesque sapien. Etiam nulla nisi,
              tempor tempor elementum non, condimentum a massa. Suspendisse non
              odio sit amet augue consequat malesuada sed nec eros. Quisque
              vitae lacus tristique, lacinia sapien ut, imperdiet augue. Nulla
              vitae libero ac risus volutpat accumsan facilisis a felis.
            </p>
            <h3 class="entry-content-head">
              Donec congue tortor in nisi congue, eu pharetra ex finibus.
            </h3>
            <p class="entry-content-text">
              Maecenas a volutpat elit. Praesent vel orci ut lectus porttitor
              rhoncus. Etiam euismod tincidunt sem. Cras maximus est at ipsum
              tristique consectetur. Vestibulum massa ligula, porta ut tempus
              in, sollicitudin in ligula. Nulla facilisi. Curabitur quis
              imperdiet mi, in euismod purus. Pellentesque dignissim mattis
              lorem sit amet consectetur. Fusce eget elit nunc.
            </p>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>
