<div class="contact-us">
  <div class="conatiner">
    <div class="contact-area">
      <header class="contact-header">
        <h1 class="contact-title">
          contact us<i class="pi pi-check"></i> <i class="pi pi-times"></i>
        </h1>
      </header>

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="row contact-address">
            <div class="col-12 col-md-3">
              <div class="contact-icon">
                <i class="pi pi-check"></i>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <h3 class="contact-head">address:</h3>
              <p class="contact-text">
                Dahshor - 6th of october - Gize - Egypt
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="row contact-email">
            <div class="col-12 col-md-3">
              <div class="contact-icon"><i class="pi pi-check"></i></div>
            </div>
            <div class="col-12 col-md-9">
              <h3 class="contact-head">E-mail:</h3>
              <p class="contact-text">
                xyz@abdelrahman.me <br />
                abc@abdelrahman.me
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="row contact-number">
            <div class="col-12 col-md-3"><div class="contact-icon">1</div></div>
            <div class="col-12 col-md-9">
              <h3 class="contact-head">Number:</h3>
              <p class="contact-text">
                123-456-7891 (from 8am to 8pm)<br />
                123-456-7890 (available from 30/7)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <app-location></app-location>
  </div>
</div>
